%h3 Dienstleisterverzeichnis

%p Hier finden Sie Dienstleister, die Ihnen dabei helfen, die LessCode-Techniken umzusetzen.

%p
  Wenn Sie ein Dienstleister sind, der anderen helfen möchte, die LessCode-Techniken zu adaptieren, dann können Sie sich in das Verzeichnis eintragen. Registrieren Sie sich dazu&nbsp;
  %span>= link_to 'hier', new_user_registration_path
  \.